<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
    <h1>Project: {{project.title}}</h1>
    <img style="max-width: 500px" src="{{ project.featured_image.url }}" alt="project image">
    <br>
    {% for tag in project.tags.all %}
    <span style="border:1px solid red">{{ tag }}</span>
    {% endfor %}
    <p>{{ project.description }}</p>
    {% endblock content %}
</body>
</html>